.create-area {
  position: relative;
  margin: 0 auto;
  height: max-content;
  background-color: #ffffff;
  height: max-content;
  border-radius: 7px;
  padding: 1rem;
}

.create-area input,
.create-area textarea {
  width: 100%;
  padding: 0.4rem;
  outline: none;
  border: none;
}

.create-area input {
  font-weight: bold;
}

.create-area textarea {
  resize: none;
}

.create-area button {
  position: absolute;
  right: 1.8rem;
  bottom: -1.5rem;
  color: #ffffff;
  background-color: #f5ba13;
}

.create-area button:hover {
  background-color: #fcc121;
}
